<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Employees</a>
    </div>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav in" id="side-menu">
                <li class="dropdown">
                    <a href="#/employees">Show Employees</a>
                </li>    
                <li class="dropdown">
                    <a href="#/add-employee">Add Employee</a>
                </li>  
                <li class="dropdown">
                    <a href="#/edit-employees">Edit Employee</a>
                </li> 
                <li class="dropdown">
                    <a href="#/delete-employees">Delete Employee</a>
                </li> 
            </ul>
        </div>
    </div>
</nav>